* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  h1 {
    padding-top: 5rems;
    margin-top: 5rems;
  }
  
  img {
    width: 25rem;
    transition: 0.5s;
  }
  
  img:hover {
    opacity: 0.8;
    scale: 1.05;
  }
  
  button:hover {
    background-color: #e0e0e0;
  }
  
  button:active {
    color: blue;
    background-color: #cccccc;
    border: 1px solid blue;
  }
  
  body {
    font-family: 'Trebuchet MS';
    background-color: #d4d4d4;
  }
  
  .important {
    color: red;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
  }
  
  button {
    padding: 0.75rem 2rem;
    font-size: 1rem;
    border-style: none;
    border-radius: 1.5rem;
    background-color: white;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
  }
  
  .card {
    background-color: black;
    color: white;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 1.5rem;
    margin-left: 5rem;
    margin: 2rem;
    border-style: solid;
    width: 30rem;
    margin-bottom: 0.5rem;
  }
  
  .center {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .card img {
    width: 100%;
    border-radius: 1rem;
  }